apiVersion: 1

datasources:
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    access: proxy
    isDefault: true
    version: 1
    editable: true
    jsonData:
      defaultDatabase: "default"  # Forçar como string
      port: 8123                  # Manter como número
      host: "clickhouse"          # Forçar como string
      username: "default"         # Forçar como string
      protocol: "http"            # Forçar como string
      tlsSkipVerify: true
      queryTimeout: "60"          # Forçar como string
      dialTimeout: "10"           # Forçar como string
      # Remover temporariamente a configuração de traces para isolar o problema
      # traces:
      #   defaultDatabase: "default"
      #   defaultTable: "otel_traces"
      #   otelEnabled: true
      #   otelVersion: "v1"
      #   durationUnit: "nanoseconds"
      #   traceIdColumn: "TraceId"
      #   spanIdColumn: "SpanId"
      #   operationNameColumn: "SpanName"
      #   parentSpanIdColumn: "ParentSpanId"
      #   serviceNameColumn: "ServiceName"
      #   startTimeColumn: "StartTime"
      #   endTimeColumn: "EndTime"
      #   durationColumn: "Duration"
      #   tagsColumn: "SpanAttributes"
      #   serviceTagsColumn: "ResourceAttributes"
    secureJsonData:
      password: ""