version: '3.8'

networks:
  my_network:
    driver: bridge

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - my_network
    ports:
      - 2181:2181
  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - my_network

  jaeger:
    image: jaegertracing/all-in-one:1.47
    environment:
      COLLECTOR_ZIPKIN_HTTP_PORT: 9411
    ports:
      - "5775:5775/udp"   # UDP port for tchannel
      - "6831:6831/udp"   # UDP port for gRPC
      - "6832:6832/udp"   # UDP port for Thrift
      - "5778:5778"       # HTTP port for service admin
      - "16686:16686"     # HTTP port for Jaeger UI
      - "14268:14268"     # HTTP port for collector
      - "14250:14250"     # gRPC port for collector
      - "9411:9411"       # HTTP port for Zipkin compatibility layer
      - "4317"       # gRPC port
    networks:
      - my_network

  otel-collector-producer:
    image: otel/opentelemetry-collector-contrib:0.118.0
    depends_on:
      - kafka
    ports:
      - "4317:4317" # gRPC
      - "4318:4318" # HTTP
    volumes:
      - ./otel-producer-config.yaml:/etc/otel-config.yaml
    command: ["--config", "/etc/otel-config.yaml"]
    networks:
      - my_network

  otel-collector-consumer:
    image: otel/opentelemetry-collector-contrib:0.118.0
    depends_on:
      - kafka
      - jaeger
    volumes:
      - ./otel-consumer-config.yaml:/etc/otel-config.yaml
    command: ["--config", "/etc/otel-config.yaml"]
    networks:
      - my_network

  kafka-ui:
    image: provectuslabs/kafka-ui
    container_name: kafka-ui
    ports:
      - "8080:8080"
    restart: always
    networks:
      - my_network
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
      - KAFKA_CLUSTERS_0_ZOOKEEPER=zookeeper:2181
      
  # elasticsearch:
  #   image: docker.elastic.co/elasticsearch/elasticsearch:8.9.0
  #   environment:
  #     discovery.type: single-node
  #     xpack.security.enabled: "false"
  #   ports:
  #     - "9200:9200"
  #   networks:
  #     - my_network
