
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"

  # elasticsearch:
  #   image: docker.elastic.co/elasticsearch/elasticsearch:8.9.0
  #   environment:
  #     discovery.type: single-node
  #     xpack.security.enabled: "false"
  #   ports:
  #     - "9200:9200"

  jaeger:
      image: jaegertracing/all-in-one:1.47
      environment:
        COLLECTOR_ZIPKIN_HTTP_PORT: 9411
      ports:
        - "5775:5775/udp"   # UDP port for tchannel
        - "6831:6831/udp"   # UDP port for gRPC
        - "6832:6832/udp"   # UDP port for Thrift
        - "5778:5778"       # HTTP port for service admin
        - "16686:16686"     # HTTP port for Jaeger UI
        - "14268:14268"     # HTTP port for collector
        - "14250:14250"     # gRPC port for collector
        - "9411:9411"       # HTTP port for Zipkin compatibility layer
        
  otel-collector-producer:
    image: otel/opentelemetry-collector:latest
    depends_on:
      - kafka
    ports:
      - "4317:4317" # gRPC
      - "4318:4318" # HTTP
    volumes:
      - ./otel-producer-config.yaml:/etc/otel-config.yaml
    command: ["--config", "/etc/otel-config.yaml"]

  otel-collector-consumer:
    image: otel/opentelemetry-collector:latest
    depends_on:
      - kafka
      - elasticsearch
    volumes:
      - ./otel-consumer-config.yaml:/etc/otel-config.yaml
    command: ["--config", "/etc/otel-config.yaml"]