version: "3.9"

services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    restart: always
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol-contrib/config.yaml
      # - ./sample.log:/var/log/sample.log
      - ./sample_short.log:/var/log/sample.log
      - ./logs-hot.json:/tmp/logs-hot.json
      - ./logs-cold.json:/tmp/logs-cold.json
      - ./logs.json:/tmp/logs.json
    command: 
      - "--config=/etc/otelcol-contrib/config.yaml"
    ports:
      - "4317:4317"  
      - "4318:4318"  
      - "55679:55679"  # zPages or other internal debugging ports
      - "8888:8888"    # Prometheus metrics endpoint
