receivers:
  filelog:
    include:
      - /var/log/sample.log
    start_at: beginning
    operators:
      - type: json_parser
        id: parse_json
        timestamp:
          parse_from: attributes.timestamp
          layout: '%Y-%m-%dT%H:%M:%SZ'
        severity:
          parse_from: attributes.what
        resource:
          attributes:
            - key: app.name
              value: java-simulator

connectors:
  routing/storage:
    default_pipelines: [logs/others]
    table:
      - context: log
        condition: attributes["storage_class"] == "hot"
        pipelines: [logs/hot]
      - context: log
        condition: attributes["storage_class"] == "cold"
        pipelines: [logs/cold]

exporters:
  debug:
    verbosity: detailed
  file/others:
    path: /tmp/logs.json
  file/hot:
    path: /tmp/logs-hot.json
  file/cold:
    path: /tmp/logs-cold.json

service:
  pipelines:
    logs/in:
      receivers: [filelog]
      exporters: [routing/storage]
    logs/hot:
      receivers: [routing/storage]
      exporters: [file/hot]
    logs/cold:
      receivers: [routing/storage]
      exporters: [file/cold]
    logs/others:
      receivers: [routing/storage]
      exporters: [debug, file/others]

  telemetry:
    metrics:
      readers:
        - pull:
            exporter:
              prometheus:
                host: '0.0.0.0'
                port: 8888